table tr th{
    background:#337ab7;
    color:white;
    text-align:left;
    vertical-align:center;
  }

  .new{
    margin-left: 15px;
  }

  td, th {
    text-align: center !important;
  }

  .error{
      color: crimson;
  }

  .read{
    background-color:rgb(102, 179, 179);
    color:white;
    width: 60px;
  }

  .edit{
    background-color:rgb(182, 104, 162);
    color:white;
    width: 60px;
  }

  .return{
    background-color:rgb(114, 150, 56);
    color:white;
    width: 60px;
  }

