<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby=""
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">Register</h4>
            </div>
            <div class="modal-body" ng-controller="authController">
                <form>
                    <div class="form-group">
                        <label class="control-label">Name:</label>
                        <input type="text" class="form-control" name="name" ng-model="user.name">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Address:</label>
                        <textarea class="form-control" name="address" ng-model="user.address"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Date of
                            Birth:</label>
                        <input type="date" class="form-control" name="date" value="2021-01-01" ng-model="user.date">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Phone:</label>
                        <input type="tel" class="form-control" name="phone" ng-model="user.phone"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" ng-click="submit(user)">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>