<div class="panel">
    <div class="panel-heading border">
        <h2>Library</h2>
    </div>
    <div class="panel-body">
        <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable"
            ui-options="dataTableOpt">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Publisher House</th>
                    <th>Added book</th>
                    <th>Reading now</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in data">
                    <td>{{$index+1}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.year}}</td>
                    <td>{{book.house}}</td>
                    <td>{{book.addedUser}}</td>
                    <td>
                        <button ng-if='!book.readUser' ng-click='reserve(book)'>Reserve</button>
                        <span ng-if='book.readUser'>{{book.readUser}}</span>
                    </td>
                    <td>
                        <button ng-if='book.addedUser === currentUser' ng-click='edit(book)'>Edit</button>
                        <button ng-if='book.readUser === currentUser'>Return</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-warning new" ng-click='add()'>Add new book</button>
</div>